<mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(value)]="page">
  <mat-button-toggle value="generator" (click)="action('generator')">Генератор QRCode</mat-button-toggle>
  <mat-button-toggle value="binding" (click)="action('binding')">Привязка</mat-button-toggle>
  <mat-button-toggle value="list-items" (click)="action('list-items')">Места и вещи</mat-button-toggle>
  <mat-button-toggle value="scan" (click)="action('scan')">Уборка</mat-button-toggle>
</mat-button-toggle-group>

